.Contact {
    text-align: center;
    height: 100px;
    width: 320px;
    float: left;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 500;
}
.Contact p {
    font-family: 'Lato', sans-serif;
    margin: 5px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

button[name=contact] {
    width: 170px;
    background-color: #FF893C;
    color: white;
    margin: 10px;
}
button[name=contact]:hover {
    background-color: #EE782B;
}

.ContactForm {
    box-shadow: 1px 1px 1px black;
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 0.8s ease-in;
}