.Main {
    margin-left: auto;
    margin-right: auto;
    /* width: 1000px; */
    background-color: #c9c9c9;
    font-family: 'Lato', sans-serif;
}
.Main h1 {
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.photos {
    display: inline-block;
    width: 487px;
    text-align: center;
    margin: 5px;
}
.photos div {
    width: 460px;
    height: 262px;
    margin: auto;
}
.photos img {
    width: 460px;
    height: 262px;
}
.photos p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px;
}

/***************** HOVERY ****************/
.photo1 {
    overflow: hidden;
}
.photo1 img {
    transition: all 0.6s ease-in-out;
}
.photo1:hover img {
    transform: scale(2);
}

.photo2 {
    overflow: hidden;
}
.photo2 img {
    transition: all 0.3s ease-in-out;
}
.photo2:hover img {
    transform: scale(1.2) skew(0deg, 7deg);
}

.photo3 {
    transition: transform 0.4s ease-in-out;
}
.photo3:hover {
    transform: scale(0.9) skew(5deg, 0deg);
}

.photo4 {
    transition: all 0.4s ease-in-out;
}
.photo4:hover {
    transform: scale(0.85);
}